.notice, .info, .warning, .success {
	border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

input, textarea, select {
	border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.kubrick {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

ul.tabs li a {
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;	
}