%div(class="top")
  %h3 Pivotal Projects

%div(class="wrap")
  %div(id="tables")
    %p This page has a list of all the Pivotal Project you have access to.

    %table(width="100%" border="0" cellspacing="0" cellpadding="0")
      %tbody
        %tr(class="table-header")
          %th(width="33%")
            %h5 Name
          %th(width="33%")
            %h5 Account
          %th(width="33%")
            %h5 Action

        - @projects.each do |project|
          %tr
            %td= project.name
            %td= project.account
            %td= link_to 'Stories', project_stories_path(project)

%br
